<div id="userinfo">

    <div class="siteicon z-depth-1">
        <a ui-sref="frontpage"><img src="img/logo.svg" ng-class="{'animated infinite tada': hover}"
    ng-mouseenter="hover = true"
    ng-mouseleave="hover = false"></a>
    </div>

    <div>
        <div pageslide ps-open="checked" ps-auto-close="true">
            <div style="padding:20px" id="demo-right">
                <lobby></lobby>
                <a ng-click="toggle()" class="button">Close</a>
            </div>
        </div>
    </div>
    <div class="info" ng-show="!isLoggedIn()">
        <span>Welcome, {{ user.username }}!</span>
        <img class="avatar" src="{{user.avatar}}" alt="">
        <a class="btn-floating btn-large waves-effect waves-light yellow" ng-click="toggle()"><i class="fa fa-user" aria-hidden="true"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light yellow" ui-sref="login">Login</a>
        <a class="btn-floating btn-large waves-effect waves-light yellow" ui-sref="signup">Signup</a>
    </div>
    <!-- </div> -->
    <div class="info" ng-show="isLoggedIn()">
        <a ui-sref="user({id: user.id})">
            <span class="black-text">Welcome, {{ user.username }}!</span>
            <img class="avatar" src="{{user.avatar}}" alt=""/>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light yellow" ng-click="toggle()"><i class="fa fa-user" aria-hidden="true"></i></a>
        <button ng-click="logout()" class="btn-floating btn-large waves-effect waves-light yellow logout">Logout</button>
    </div>

</div>
