<div id="userinfo">
    <div class="siteicon">
        <a ui-sref="frontpage"><img src = "img/logo.svg"></a>
    </div>
    <div class="info"  ng-show="!loggedUser">
        <span>Welcome, {{ user }}!</span>
        <button ui-sref="login" class="waves-effect waves-light btn" ng-click="removeGame()">Login</button>
         <button ui-sref="signup" class="waves-effect waves-light btn" ng-click="removeGame()">Sign Up</button>
    </div>
            <!-- </div> -->
    <div class="info" ng-show="loggedUser">
        <span>Welcome, {{ user }}!</span>
        <a ng-click="logout()">Logout</a>
    </div>
</div>
