<div id="userinfo">
    <div class="siteicon">
        <a ui-sref="frontpage"><img src = "img/logo.svg"></a>
    </div>
    <div>
    </div>
    <span>Welcome, {{ user.username }}!</span>
    <img ng-src="{{user.avatarSm}}" />
    <div class="info"  ng-show="!isLoggedIn()">
        <button ng-click="login()" class="waves-effect waves-light btn">Login</button>
        <button ng-click="signup()" class="waves-effect waves-light btn">Sign Up</button>
    </div>
    <div class="info" ng-show="isLoggedIn()">
        <button ng-click="logout()" class="waves-effect waves-light btn">Logout</button>
    </div>
</div>
