<div id="signup">
  <div class="signin-container" ng-controller="SignupCtrl">
    <div class="buffer local">
      <form name="signUpForm" ng-submit="signUpForm.$valid && submitSignup(form)" novalidate>

          <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" ng-model="form.email" name="email" ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$/i" required />
        </div>
        <div class="form-group">
          <label>Username</label>
            <input type="text" ng-model="form.username" name="username" required />
        <div class="form-group">
          <label>password</label>
          <input type="password" class="form-control" ng-model="form.password" name="password" ng-minlength="5"/>
        </div>
        <div class="form-group">
          <label>Re-enter password</label>
          <input type="password" class="form-control" ng-model="form.confirmPassword" name="confirmPassword" required compare-to="form.password"/>
        </div>
        <button type="submit" class="btn btn-block btn-primary center-block" ng-disabled="signUpForm.$invalid">signup</button>
      </form>
    </div>
  </div>
</div>
