#lobby {

  .title {
    margin: 15px;
  }
  div {
    background-color: #ffffff;
    display: table;
  }
  ul {
    list-style-type: none;
    background-color: #ffffff;
  }

}
  img {
    width: 50px !important;
    height: 50px;
  }
