<div id="users">
    <div class="ranking">
<!--         <div class="searchbar">
            <input type="text" class="btn-extended" placeholder="search" ng-model="search"/>
            <div class="btn-search"></div>
        </div>
 -->        <table class="highlight">
            <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Avatar</th>
                    <th>Username</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="uzer in users | filter: search | orderBy: ['-wins', '+losses'] | startFrom:currentPage*pageSize | limitTo: '10'">
                    <td>
                        {{currentPage * pageSize +$index + 1}}
                    </td>
                    <td>
                        <a ui-sref="user({id: uzer.id })"><img ng-src="{{uzer.avatar}}" alt=""></a>
                    </td>
                    <td><a ui-sref="user({id: uzer.id })">{{uzer.username}}</a></td>
                    <td>{{uzer.wins}}</td>
                    <td>{{uzer.losses}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="waves-effect waves-light btn"> Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="waves-effect waves-light btn">
        Next
    </button>
</div>
