#userinfo {
    padding: 20px;
    white-space: nowrap;
    .siteicon {
        display: inline;
        float: left;
    }
    .info {
        margin: 5px;
        float: right;
        display: inline;
        white-space: nowrap;
    }
    img {
        width: 50px;
        align: left;
    }
}
