#userinfo {
    padding: 20px;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: 'RifficFree';

    .siteicon {
        display: inline;
        float: left;
        line-height: 0;
        font-size: 0rem;
    }

    .info {
        margin: 5px;
        float: right;
        display: inline;
        white-space: nowrap;
    }
    img {
        width: 50px;
        align: left;
    }

    .btn-floating {
        font-size:15px;
    }
}
