<section id='lobby'>
  <div>
    <h4>Users Online</h4>
    <ul>
         <li ng-repeat="activeUser in activeUsers | filter: {playing: false, username: '!' + user}" class="left-align">
         <img src="/img/defaultavatar.png" width="50">
            <a class="modal-trigger" href="#modal{{$index+1}}" repeat-done="initModals()">{{activeUser.username}}</a>
           <div id="modal{{$index+1}}"" class="modal">
            <div class="modal-content">
                <p>A Would you like to challenge {{activeUser.username}}?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close" ng-click="challengeUser(activeUser)">Yes</a>
                <a href="#!" class=" modal-action modal-close">No</a>
            </div>
        </li>
    </ul>
  </div>

  <div id="challengeUser" class="modal">
    <div class="modal-content">
      <p>{{challenger.username}} wants to challenge you! Do you want to play against them?</p>
    </div>
    <div class="modal-footer">
      <a ng-click="challengeAccepted()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
      <a ng-click="challengeRejected()" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>

  <div id="waitingForUser" class="modal">
    <div class="modal-content" ng-show="waiting">
    <div class="left-align close"><a class="modal-action modal-close">X</a></div>
      <p>Waiting for {{opponent.username}}'s response!</p>
    </div>
    <div class="modal-content" ng-show="!waiting">
      <p>Sorry, {{opponent.username}} has rejected your request.</p>
    </div>
    <div class="modal-footer" ng-show="!waiting">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>

</section>

