#users {
    // padding: 20px;
    margin: 5em auto;
    width: 60vw;
    table {
        background-color: white;
        border-collapse: collapse;
        border: 0px;
        border-spacing: 0px;
    }
    .ranking {
        margin: 0 auto;
    }
    img {
        width: 100px;
    }
}
