#users {
    // padding: 20px;
    margin: 5em auto;
    width: 60vw;
    table {
        background-color: white;
        border-collapse: separate;
        border-radius: 25px;
        border: 5px solid #FFEB3B;
        border-spacing: 0;
    }
    thead {
        border-bottom: 5px solid #FFEB3B;
    }
    .ranking {
        margin: 0 auto;
    }
    img {
        width: 100px;
    }
}
