#userpage {
    margin: 1em auto;
    .matches {
        width: 70vw;
        text-align: center;
        margin: 5px auto;
        border-radius: 25px;
    }

    img {
        width: 100px;
    }
}
