<style>
  .fall {
    animation-duration: 10s;
    animation-name: slidedown;
    animation-iteration-count: 1;
    position: relative;
  }

  @keyframes slidedown {
    from {
      top: 0%;
      margin-left: 0%;
      margin-right: 0%;
    }

    to {
      top: 93%;
      margin-left: 0%;
      margin-right: 0%;
    }
  }

  #box {
    border: 5px solid #dddddd;
    height: 800px;
    padding: 0px;
    width: 500px;
  }
</style>

  <center>
  <div id="box">
      <button ng-click="fallWord(words[0])">click to initiate word</button>
      <button ng-click="subLetter(words[0])">click to remove letter</button>
      <div ng-class="{'fall': words[0].fall}">
        <h3 id='stego'>{{words[0].remain}}</h3>
    </div>
  </div>
  </center>

</section>
<button ng-click='callSocket()'>Click me</button>
<div id="a"></div> 
<div id="b"></div>  
<div id="c"></div>   
<div id="d"></div>
<div id="e"></div>
<div id="f"></div>
<div id="g"></div>
<div id="h"></div>
<div id="i"></div>
<div id="j"></div>
<div id="k"></div>
<div id="l"></div>
<div id="m"></div>
<div id="n"></div>
<div id="o"></div>
<div id="p"></div>
<div id="q"></div>
<div id="r"></div>
<div id="s"></div>
<div id="t"></div>
<div id="u"></div>
<div id="v"></div>
<div id="w"></div>
<div id="x"></div>
<div id="y"></div>
<div id="z"></div>
