$background: #b2dfdb;

@font-face {
  font-family: 'SketchBlock';
  src: url('/img/font/Sketch_Block.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: SketchBlock;
  text-align: center;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'game/main'
