$color-font-normal: #d8b384;
$color-font-dark: #5e454b;
$color-bgh-normal: #cee5d0;
$color-bgh-light: #f3f0d7;
$color-bgh-dark: #3fab9b;

@font-face {
  font-family: 'SketchBlock';
  src: url('/img/font/Sketch_Block.ttf');
}

* {
  box-sizing: border-box;
}

html, body, .container, .row {
  margin: 0 auto;
  padding: 0;
}

body {
  background: $color-bgh-normal;
  font-family: SketchBlock;
  text-align: center;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'game/main';
@import 'frontpage/main';