#title {
    .btn {
    background: #76B3FA;
    border-radius: 50px;
    padding: 1vh 5vw;
    color: #fff;
    text-decoration: none;
    font-size: 6vh;
    margin: 0 5vw;
  }

  .header {
    font-size: 100px;
    margin: 10vh 5vw;
    animation-iteration-count: infinite;
  }
}
