.gameContainer {
}

.gameDrawContainer {
  background-color: #ffffff;
  border: 5px solid #dddddd;
  width: 500px;
  height: 800px;
  display: inline-block;
  text-align: left;
  position: relative;
}

.gameWordDiv {
  position: absolute;
}

.gameCurrLeft {
  font-weight: bold;
  color: red;
  font-size: 1.5em;
}

.animateFall {
  animation-duration: 9999s;
  animation-name: fall;
}

@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 150%;
  }
}
