<div id="typewriter" class="center-align">

  <div class="row center-align">
    <div class="col s6">
<!-- <<<<<<< HEAD
      <img ng-src="{{$root.rootScopeUser.avatar}}" alt="">
      <h5>You: {{$root.rootScopeUser.username}}</h5>
        <div ng-show="gameover">
         <div class="animated infinite bounce" id="winningMessage" ng-if="player-me.win">Winner!
         </div>
          <div class="animated infinite bounce" id="losingMessage" ng-if="!player-me.win">
          Loser!
          </div>
        </div>
      <div class="gameContainerDrawing z-depth-1" id="playerMeDrawing" ng-class="{ 'gameover': gameover}">
      </div>
======= -->
      <img ng-src="{{$root.rootScopeUser.avatar}}" alt="">
      <h5>You: {{$root.rootScopeUser.username}}</h5>
                    <div ng-show="gameover">
                <div id="winningMessage" ng-if="player-me.win">
                    <h3 class="animated infinite bounce">Winner!</h3>
                    <my-stats></my-stats>
                    <rematch></rematch>
                </div>
                <div id="losingMessage" ng-if="!player-me.win">
                    <h3 class="animated infinite bounce">Loser!</h3>
                    <my-stats></my-stats>
                    <rematch></rematch>
                </div>
            </div>
            <div class="gameContainerDrawing z-depth-1" id="playerMeDrawing" ng-class="{ 'gameover': gameover, 'win': player-me.win && gameover, 'lose': !player-me.win && gameover}">
            </div>
      <div id="playerMeInput">
        {{me.word}}
      </div>
      streak {{me.streak}}
    </div>
    <div class="col s6">
        <img ng-src="{{rivalInfo.avatar}}" alt="">
        <h5>{{rivalInfo.username}}</h5>
            <div ng-if="gameover">
                <div id="losingMessage" ng-if="player-me.win">
                    <h3 class="animated infinite bounce">Loser!</h3>
                    <rival-stats></rival-stats>
                </div>
                <div  id="winningMessage" ng-if="!player-me.win">
                    <h3 class="animated infinite bounce">Winner!</h3>
                    <rival-stats></rival-stats>
                </div>
            </div>
            <div class="gameContainerDrawing z-depth-1" id="playerRivalDrawing" ng-class="{ 'gameover': gameover, 'win': !player-me.win && gameover, 'lose': player-me.win && gameover}">
            </div>
      <div id="playerRivalInput">
        {{rival.word}}
      </div>
      streak {{rival.streak}}
    </div>
  </div>

</div>
