<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="gameContainerDrawing z-depth-1">
        <div ng-repeat="word in me.activeWords">{{ word.text }}</div>
      </div>
      <input id="playerMeInput" type="text">
      <label>You</label>
    </div>
    <div class="col s6">
      <div class="gameContainerDrawing z-depth-1">
        <div ng-repeat="word in rival.activeWords">{{ word.text }}</div>
      </div>
      <input id="playerRivalInput" type="text">
      <label>Rival</label>
    </div>
  </div>
</div>
